<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="orderForm" (ngSubmit)="onSave()">
        <div class="form-group">
          <label for="customerName"
            ><b class="text-muted"> Customer Name</b></label
          >
          <input
            type="text"
            formControlName="customerName"
            class="form-control mb-3"
          />
          <label for="email"><b class="text-muted"> Email</b></label>
          <input
            type="text"
            formControlName="email"
            class="form-control mb-3"
          />

          <div class="row">
            <div class="col-xl-12" formArrayName="items">
              <label class="mt-3"><b class="text-muted"> item List </b> </label>
              <div
                class="row"
                *ngFor="let itemCtrl of itemsControls; let i = index"
                [formGroupName]="i"
                style="margin-top: 10px"
              >
                <div class="col-xl-3">
                  <label for="category">Select Category</label>

                  <select
                    class="form-control"
                    formControlName="category"
                    (change)="changeSelect($event)"
                  >
                    <ng-container *ngFor="let ctgry of category">
                      <option [value]="ctgry">{{ ctgry }}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="col-xl-3">
                  <label for="name">Select Item</label>
                  <select
                    class="form-control"
                    formControlName="name"
                    (click)="changeSelectName($event)"
                  >
                    <ng-container
                      *ngFor="let slItemName of selectItemName; let i = index"
                    >
                      <option
                        value="{{ slItemName.name }}|{{ slItemName.price }}"
                      >
                        {{ slItemName.name }}
                      </option>
                    </ng-container>
                  </select>
                </div>
                <div class="col-xl-3">
                  <label for="price">$ price</label>
                  <input
                    readonly
                    type="number"
                    formControlName="price"
                    class="form-control mb-3"
                    [value]="price"
                  />
                </div>
                <div class="col-xl-3">
                  <span class="mt-3"></span>
                  <button
                    type="button"
                    class="btn btn-sm mt-4"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="delete item"
                    (click)="onDeleteItem(i)"
                  >
                    <i class="fas fa-times-circle text-danger"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 d-flex justify-content-end">
                  <button
                    type="button"
                    class="btn"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="add new item"
                    (click)="onAddItem()"
                  >
                    <i class="fas fa-plus-circle text-success"></i>
                  </button>
                </div>
              </div>
              <br />
              <div class="modal-footer">
                <div class="col-xl-12 d-flex justify-content-center mt-4">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    (click)="clickClose()"
                    class="btn btn-outline-secondary mr-2"
                  >
                    close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-success pl-5 pr-5"
                    [disabled]="!orderForm.valid"
                  >
                    <i class="fas fa-save mr-2"></i>Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
